//colors
$text-color: black;
$button-color: #00A6B6;
$primary-color: #00A6B6;
$hover-color: #0dd5f5;

//fonts
$text-font: 'Lato', sans-serif;;
$heading-font-size: 3rem;
$para-font-size: 1.8rem;
$font-size-base: 1rem;
$font-size-md: 1.5rem;

//sizes
$line-thick: 5px;
$border-thick : $primary-color solid $line-thick;
$border-thin : $primary-color solid 1px;

//mixins
@mixin soft-shadow {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

@mixin btn-shadow {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
-moz-box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
box-shadow: 0px 1px 4px 0px rgba(112,108,112,1);
}

body {
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 3rem;
	color: $primary-color;
    font-weight: 700;
}
h2 {
	font-size: 2rem;
	color: $primary-color;
    font-weight: 700;
    margin:40px;
}
h3 {
	font-size: 1.7rem;
	color: $primary-color;
    font-weight: 700;
}

h4 {
	font-size: 1.5rem;
	color: $primary-color;
    font-weight: 700;
}

p {
	font-size: $font-size-base;
	color: $text-color;
	line-height: 1.4rem;
    background-color: white;
}

.text-md {
	font-size: $font-size-md;
	color: $text-color;
	line-height: 2rem;
}
a:hover {
    color: $primary-color;
}

//buttons
.btn-primary {
    color: #fff;
    background-color: $hover-color;
    border-color: $hover-color;
    border-radius: none;
    text-transform: uppercase;
    @include btn-shadow;
}
.btn-primary:hover {
    color: #fff;
    background-color: $primary-color;
    border-color:$primary-color;
}


//navbar
.bg-light {
    background-color: #f8f9fa!important;
}
.navbar-light .navbar-brand {
    color: $primary-color;
}
.navbar-light .navbar-brand:hover{
    color: $hover-color;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $hover-color;
}

.logo {
    width:15%;
    margin:10px;
}

hr {
    color: $primary-color;
    border-top: 2px solid $primary-color;
    margin:0px;
}

/* Hero Section */
.center-hero { 
	text-align: left;
	font-size: 3rem;
	color: $primary-color;
	font-weight: bold;
}

.center-hero-text {
	text-align: left;
	font-size: 1.3rem;
	font-weight: 400;
    margin-bottom: 40px;
}

.hero-container {
	position: relative;
}

/*video of hero section */
.hero-video {
	margin-top: 100px;
	margin-bottom: 100px;
    width: 500px;
}

@media screen and (max-width: 600px){
	.hero-item, .hero-video {
        width: 100%;
    }
}
.hero-item {
    max-width: 100%;
    padding:10px;
}

.hero-flex-container {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

/*Media query for responsiveness */
@media screen and (max-width: 1200px){
	.hero-flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
        margin-top: 50px;
    }
	.hero-item {
        align-self: center;
    }
	.hero-one {
        order: 2;
    }
	.hero-two{
        order: 1;
    }
	.btn-primary {
        margin-top: 20px;
    }
}

//home page image cards
.card {
    @include soft-shadow;
}

.center-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

//products filters
.filters {
	display: flex;
	margin-top: 70px;
	// @media screen and (max-width: 420px){
    //     margin-top: 0;
    // }
}

.filters-categories {
    flex-basis: 65%;
}

.filters-toggle {
	display: inline-block;
	padding: 8px 12px;
	margin-right: 30px;
	cursor: pointer;
	line-height: 1.25rem;
	min-height: 20px;
	border: 1px solid $primary-color;
	background-color: white;
	color: $primary-color;
	transition: all 0.3s;
    margin-bottom: 10px;
}

.filters-toggle.active {
    background-color: $primary-color;
    color: white;
}

.filters-toggle:hover {
    background-color: $primary-color;
    color: white;
}

.hidden {
    display: none;
}

//cart and modal
.cart-icon {
    cursor:pointer;
    width: 50px;
	position: fixed;
	right: calc(70px / 2 - 28px / 2);
	top: calc(22% - 24px / 2);
	z-index: 2;
	@media screen and (max-width: 420px){
        right: calc(40px / 2 - 28px / 2);
    }
}

#modal {
    .fade {
        background-color: white;
    }
    .show {
        background-color: rgba(255, 255, 255, 0.86);
    }
    .modal-content {
        text-align: center;
        padding: 20px 30px;
        @media screen and (max-width: 575px){
            padding: 10px 15px;
        }
        border: $border-thin;
        .close {
			position: absolute;
			top: 15px;
			right: 15px;
			color: $primary-color;
			opacity: 1;
            cursor: pointer;
        }
    }
	.modal-header {
		display: block;
        border-bottom: none;
    }

	.modal-body {
		.lead-paragraph {
			position: relative;
            padding-bottom: 30px;
        }
        .cart-items {
            width:400px;
            height:400px;
            margin: 30px 0;
			padding-bottom: 30px;
			position: relative;
        }
    }
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

//animation
@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10% {
		transform: scale3d(.7, .7, .7) rotate3d(0, 0, 1, -6deg);
	}

	30%, 90% {
		transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, 6deg);
	}

	60% {
		transform: scale3d(1.3, 1.3, 1.3) rotate3d(0, 0, 1, -6deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	animation: tada 0.6s;
}

//footer
.page-footer {
    background-color: $primary-color;
    color: white;
    padding: 40px;
    margin-top:40px !important;
    position: relative;
}

.contact-container {
    margin-top:60px;
    margin-bottom: 40px;
}

//admin
.admin-container {
    margin-top:40px;
}

.image-preview .img-responsive {
    width: 50%;
}

	@media screen and (max-width: 568px){
        .logo-text {
            font-size:0.8em;
        }
        .logo {
            width:10%;
        }
    }